<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidquizapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".studScoreActivity"></activity>
        <activity android:name=".studQuestionActivity" />
        <activity android:name=".studSetActivity" />
        <activity android:name=".studCategoryActivity" />
        <activity android:name=".profCategoryActivity" />
        <activity android:name=".StudentSignUpActivity" />
        <activity android:name=".ProfessorSignUpActivity" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".ProfessorActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>